<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Southwest Utah Coronavirus Tracker</title>
  <meta name="description" content="Southwest Utah Coronavirus Tracker">
  <meta name="author" content="Josh Layton">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Material+Icons&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
  
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <nav>
      <span id="logo"><img src="img/logo.png" id="icon" alt="Logo"><span id="title">COVID-19 in Southwest Utah</span></span>
        <a class="badge-link" href="https://gitlab.com/jl8n/southern-utah-coronavirus-tracker">
          <img src="img/gitlab-logo.svg" height="55">
          <div>View the code</div>
        </a>
    </nav>

    <main>

      <div class="row">
        <badge v-for="badge in badges" key="badge" :data="badge.data" :label="badge.label"></badge>
      </div>

      <div class="cards">
        <div class="card">
          <div id="container"></div>
        </div>
        <div class="card">
          <div id="deaths"></div>
        </div>
        <div class="card">
          <div id="tests"></div>
        </div>
        <div class="card card-double">
          <click-counter></click-counter>
        </div>
      </div>


      <div class="wrapper"></div>
    </main>
  </div>

  <script type="text/x-template" id="badge-template">
    <div class="badge">
      <div class="badge-content">
        <div>{{ data }}</div>
        <div>{{ label }}</div>
      </div>

    </div>
  </script>

  <!--<script src="http://localhost:3000/scripts/tailwind.css"></script>-->
  <script src="http://localhost:3000/scripts/vue/dist/vue.js"></script>
  <script src="http://localhost:3000/scripts/highcharts/highcharts.js"></script>
  <script src="js/app.js" ></script>
  
</body>
</html>