<template>
  <div class="badge">
      <div class="data">
          {{ data }}
      </div>
      <div class="label">
          {{ label }}
      </div>
  </div>
</template>

<script>
module.exports = {
  props: ['data', 'label']
}
</script>

<style scoped>

  h2 {
    font-size: 40px;
    color: mediumseagreen;
  }

  .card {
    padding: 20px;
    background-color: #1b2b38;
    border-radius: 5px;
    min-height: 100px;
  }

  .card-header {
    text-align: left;
    font-size: 1.1em;
    color: #7f90a5;
  }

</style>