<template>
  <div class="card">
      <div class="card-header">
        {{ title }}
      </div>
      <div class="card-body">
        <slot></slot>
      </div>
  </div>
</template>

<script>
module.exports = {
  props: ['title', 'data']
}
</script>

<style scoped>

  h2 {
    font-size: 40px;
    color: mediumseagreen;
  }

  .card {
    padding: 15px;
    background-color: #1b2b38;
    border-radius: 5px;
    min-height: 100px;

  }

  .card-header {
    text-align: left;
    font-size: 1.1em;
    color: #7f90a5;
  }

</style>