<template>
  <div>
    <highcharts
      :options="chartOptions"
      ref="lineCharts"
    ></highcharts>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from "highcharts";
import exportingInit from "highcharts/modules/exporting";
import stockInit from "highcharts/modules/stock";

//import { EventBus } from "./../event-bus.js";

stockInit(Highcharts);
exportingInit(Highcharts);

export default {
  props: {
    counties: {
      total: {
        type: Array
      },
      washington: {
        type: Array
      },
      iron: {
        type: Array
      }
    },
    dates: {
      type: Array
    }
  },
  components: {
    highcharts: Chart
  },
  mounted () {
      console.log('PARTSDATA', this.counties, this.dates);
  },
  data() {
    return {
      colors: ['#c62828', '#03A9F4', '#FB8C00', '#910000', '#1aadce', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
      chartOptions: {
        chart: {
          type: "spline",
          backgroundColor: 'transparent'
        },
        title: {
            text: 'Cases by County',
            style: {
            color: '#FFFFFF'
            }
        },
        xAxis: {
          categories: this.dates,
          labels: {
            style: {
              color: '#B6C1C2'
            }
          }
        },
        yAxis: {
          gridLineColor: '#213545',
          title: {
              text: ''
          },
          labels: {
            style: {
              color: '#646A6E'
            }
          } 
        },
        plotOptions: {
          series: {
            animation: true,
            marker: {
              enabled: false
            }
          },
          spline: {
            marker: {
              radius: 4,
              lineColor: "#666666",
              lineWidth: 1
            }
          }
        },
        series: [{
            name: 'Total',
            data: this.counties.total,
            color: '#4fc3f7'
          }, {
            name: 'Washington',
            data: this.counties.washington,
            color: '#c62828'
          }, {
            name: 'Iron',
            data: this.counties.iron,
            color: '#607d8b'
          }
        ]
      }
    };
  }
};
</script>