<template>
  <div>
    <highcharts
      :options="chartOptions"
      ref="lineCharts"
    ></highcharts>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from "highcharts";
import exportingInit from "highcharts/modules/exporting";
import stockInit from "highcharts/modules/stock";

//import { EventBus } from "./../event-bus.js";

stockInit(Highcharts);
exportingInit(Highcharts);


export default {
  props: {
    recovered: {
      type: Array
    },
    dates: {
      type: Array
    }
  },
  components: {
    highcharts: Chart
  },
  mounted () {
    console.log(this.recovered, this.dates);
  },
  data() {
    return {
      chartOptions: {
        chart: {
          type: "spline",
          backgroundColor: 'transparent'
        },
        title: {
            text: 'Recovered',
            style: {
            color: '#FFFFFF'
            }
        },
        xAxis: {
          categories: this.dates,
          labels: {
            style: {
              color: '#B6C1C2'
            }
          }
        },
        yAxis: {
          gridLineColor: '#213545',
          title: {
              text: ''
          },
          labels: {
            style: {
              color: '#646A6E'
            }
          } 
        },
        plotOptions: {
          series: {
            animation: true,
            marker: {
              enabled: false
            }
          },
          spline: {
            marker: {
              radius: 4,
              lineColor: "#666666",
              lineWidth: 1
            }
          }
        },
        series: [{
          name: 'Recovered',
          data: this.recovered,
          color: '#009688'
        }]
      }
    };
  }
};
</script>