<template>
  <div id="app">
    <aside>
      <h1>COVID-19 in Southwest Utah</h1>
      <a href="https://gitlab.com/jl8n/southern-utah-coronavirus-tracker" class="fork-me">Fork me</a>
    </aside>
    <header>
      <i id="hamburger" class="material-icons" @click="toggleAside">menu</i>
    </header>
    <main>
      <div class="row-4">
        <Badge :data="currentCases" label="cases"></Badge>
        <Badge :data="currentDeaths" label="deaths"></Badge>
        <Badge :data="currentHospital" label="hospitalized"></Badge>
        <Badge :data="currentTested" label="tests performed"></Badge>
      </div>
      <div class="row-3">
        <Card><CountiesChart :counties="counties" :dates="dates"></CountiesChart></Card>
        <Card><RecoveredChart :recovered="recovered" :dates="dates"></RecoveredChart></Card>
        <Card><TestedChart :tested="tested" :dates="dates"></TestedChart></Card>
      </div>
      <PersonGreeter :personName="name" />
    </main>
  </div>
</template>

<script>
import Badge from './components/Badge.vue';
import PersonGreeter from './components/PersonGreeter.vue';
import Card from './components/Card.vue';
import CountiesChart from './components/CountiesChart.vue';
import RecoveredChart from './components/RecoveredChart.vue';
import TestedChart from './components/TestedChart.vue';



export default {
  name: 'app',
  data: () => ({
    name: 'Josh',
    recordsCount: 0,
    covidData: {},
    dates: [],
    totalCases: [],
    deaths: [],
    recovered: [],
    hospitalized: [],
    tested: [],
    counties: {
      total: [],
      washington: [],
      iron: []
    },

    currentCases: null,
    currentDeaths: null,
    currentRecovered: null,
    currentHospital: null,
    currentTested: null,
    
    
  }),
  created: function() {
    this.initData(); // Call getData function when the component is created
  },
  components: {
    Badge,
    PersonGreeter,
    Card,
    CountiesChart,
    RecoveredChart,
    TestedChart
  },
  methods: {
    initData: async function() {
      await fetch('http://localhost:3000/cases')
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.covidData = data;
        });

      this.covidData.forEach(element => {
        this.dates.push(element.Date.slice(0, 4));
        this.counties.total.push(parseInt(element['Total Cases']));
        this.counties.washington.push(parseInt(element['Washington County']));
        this.counties.iron.push(parseInt(element['Iron County']));
        //this.totalCases.push(parseInt(element['Total Cases']));
        this.deaths.push(parseInt(element.Deaths));
        this.recovered.push(parseInt(element.Recovered));
        this.hospitalized.push(parseInt(element['Currently Hospitalized']));
        this.tested.push(parseInt(element['Tests performed']));
      });

      this.currentCases = this.counties.total[this.counties.total.length - 1];
      this.currentDeaths = this.deaths[this.deaths.length - 1];
      this.currentHospital = this.hospitalized[this.hospitalized.length - 1];
      this.currentTested = this.tested[this.tested.length - 1];
    },
    toggleAside: function() {
      console.log('hamburger clicked');
    }
  }
}
</script>

<style>

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
}
#app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 'aside header'
                       'aside main';
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

aside {
  display: grid;
  grid-area: aside;
  grid-template-rows: auto 30px;
  align-items:initial;
  padding-top: 80px;
  background-color: #142029;
}

main {
  grid-area: main;
  background-color: #182631;
  padding: 15px;
}

header {
  display: grid;
  grid-area: header;
  background-color: #182631;
  align-items: center;
  text-align: left;
}

#hamburger {
  margin-left: 5px;
  font-size: 2em;
  color: #8495b9;
  cursor: pointer;
  user-select: none;
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}

.row-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

#fork-me {
  width: 100%;
}

.highcharts-credits {
  display: none;
}

</style>